
<!-- Middle page -->
<div id="content" class="scrollable" snap-content snap-options="snapOpts">

    <div class="intro">
      <div class="face">
        <img src="images/steve.jpeg" class="img-rounded">
      </div>
      <ul class="list">
        <li>Hi, I'm Steven Osborne Welcome to my site!</li>
        <li>Front-end Developer</li>
        <li>Freelancer</li>
        <li>Data Guy</li>
      </ul>
    </div>


    <!-- about me -->
    <div class="title-page">Background</div>
  <div class="slide-buttons">
    <div class="about-me">
      <button type="button" snap-toggle="left" class="btn btn-default btn-lg aboutme-button">
        <i class="fa fa-arrow-left"></i> About Me
      </button>
      <ul class="aboutme-summary">
        <li>I graduated from the University of Nebraska, where I studied Economics</li>
        <li>D1 college football</li>
        <li>3x Brook Berringer awards</li>
      </ul>
    </div>

    <!-- portfolio -->
    <div class="portfolio">
      <button type="button" snap-toggle="right" class="btn btn-default btn-lg portfolio-button">portfolio
        <i class="fa fa-arrow-right"></i>
      </button>
      <ul class="portfolio-summary">
        <li>Made a full Mean stack</li>
        <li>Why African Americans millenials should own a farm</li>
        <li>Freelanced</li>
      </ul>
    </div>
  </div>

        <!-- Experience -->
        <!-- <div id="exp"></div> -->
      <div class="title-page">Experience</div>
      <div class="row" id="exp">
        <div class="col-sm-4 col-md-4">
          <div class="panel frontend">
            <div class="panel-heading summary-header">FrontEnd</div>
              <div class="panel-body summary-body">
                I have knowledge of AngularJS framework
                and also played around with backboneJS. I am
                interested in learning about other frameworks
                in the future such as ReactJS.
              </div>
          </div>
        </div>
        <div class="col-sm-4 col-md-4">
        <div class="panel backend">
          <div class="panel-heading summary-header">Backend</div>
            <div class="panel-body summary-body">
              I have some knowledge of backend technology such as expressJS
              and Socket.IO. Also, I have played around with Twitter API. I
              am always trying to improve my understanding of backend technology.
            </div>
          </div>
        </div>
      <div class="col-sm-4 col-md-4">
        <div class="panel">
          <div class="panel-heading summary-header weapons">My Weapons</div>
            <div class="panel-body summary-body">
            For me to speed up my work inverment, I
            use Github, Bower, NPM, Grunt. 
            </div>
        </div>
      </div>
    </div>
    <div class="row rowbar">
        <javascript-bar>
          <div class="javascript-bar col-sm-4 col-md-4"></div>
        </javascript-bar>
        <sass-bar>
          <div class="sass-bar col-sm-4 col-md-4"></div>
        </sass-bar>
        <mean-bar>
          <div class="mean-bar col-sm-4 col-md-4"></div>
        </mean-bar>
    </div>


      <!-- email -->
      <!-- <div class="title-page">contact</div> -->
      <div class="contact">
        <a class="email" href=""><i class="fa fa-envelope fa-5x"></i></a>
        <!-- <a href="https://keybase.io/mcfly/key.asc"><i class="fa fa-twitter fa-5x"></i></a> -->
        <a class="icon" href="https://github.com/NikonMcFly"><i class="fa fa-github fa-5x"></i></a>
      </div>
    <footer>
      <ul>
        <li>Powered by Digital Ocean</li>
        <li>Source code</li>
      </ul>
    </footer>
</div>

<!-- left side draw -->

<div snap-drawer="left" class="about">

  <p class="text-center">About</p>
        <p class="drawer-decription">Football at University of Nebraska</p>
          <img src="images/stevenfootball.jpg" alt="..." class="img-rounded football-pic">
          <a class="btn btn-danger" href="http://www.huskers.com/ViewArticle.dbml?ATCLID=1515319" role="button">Huskers</a>
      </div>


<!-- Right side draw -->
<div snap-drawer="right">
  <p class="text-center">Portfilio</p>
  <div class="website right-side">
    <p class="drawer-decription">Full Stack<p>
    <img src="images/meanstack.jpg" href="#" class="img-thumbnail">
    <a class="btn btn-default right-side-btnLeft" href="https://github.com/NikonMcFly/Mean-Stack" role="button">view code</a>
  </div>
  <br>
  <div class="millenialsFood right-side">
    <p class="drawer-decription">Farming Community<p>
    <img src="images/angus-chart1.jpg" class="img-thumbnail cow">
    <a class="btn btn-default right-side-btnLeft" href="https://github.com/NikonMcFly/Community-Agriculture/tree/master" role="button">view code</a>
  </div>
  <br>
</div>
