

economics 101 supply and demand
<h1>Mircoeconomics</h1>
<p>learned the underlining of basic economics and how it 
applies to every day life. How consumers and suppliers 
crafts the economy in a free market. How economy is based
it on rational behavior.
</p>
<!-- <>basic supply and demand graph<> -->
<h1>macroeconomics</h1>
<p>learned how supply and demand of the government effects
	spending of government polices and decision making, such as
	GDP, unempolyment rates, investment and saving. inflation 
	nation income...government spending, aggreate demand and aggregate supply, reagan economics, quantity theory of money, money velocity, keynes theory of empolyment.
	growth models(IS/LM), unemployment rate...
</p>
<!-- <>project on government spending<> -->
<h1>international economics, finance, and Trade</h1>

<h1>history economics</h1>
<p> how america made its money off slaves and the economy came about.
	the logging economy on building log homes and trees and how we the nation was running
	out of pine trees because of the supply and demand.
</p>
<!-- <><> -->
<h1>econometrics</h1>
<h1>international study of aboard</h1>
